.back{
    background-color: lightblue;
    margin-top: 1.6em;
    padding-top: 1.4em;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2.2em;
    padding-bottom: 1.6em;
}

.back_page1 {
    background-color: darkseagreen;
    margin-top: 1.6em;
    padding-top: 1.4em;
}

.back_page2 {
    background-color: lightsalmon;
    margin-top: 1.6em;
    padding-top: 1.4em;
}

.main-text{
    text-align: center;
    font-size: 56px;
}

.h-text{
    text-align: center;
}